<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="ac.robinson.mediautilities"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application android:supportsRtl="true">
		<activity
			android:name="ac.robinson.mediautilities.SelectDirectoryActivity"
			android:exported="false"/>

		<service
			android:name="ac.robinson.service.ImportingService"
			android:exported="false"/>
	</application>

</manifest>
