<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ac.robinson.mediautilities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="11" />

    <application />

    <!-- TODO: when the SDK can cope with Manifest merging, add activity/service/permission/feature details here -->

</manifest>